<!DOCTYPE html>
<html xmlns:th="hhtp://thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title th:text="${titulo}"></title>
<link rel ="stylesheet" type="text/css" th:href="@{/css/style.css}"></link>
</head>
<body>

<h1 th:text="${titulo}" class="color-rojo"></h1>
<h2 class="color-azul">Decorando con css</h2>
<table th:if="${usuarios.size() > 0}">
		<thead>
			<tr> 
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Email</th>
			</tr>
		</thead>
	<tbody>
		<tr th:each="usuario: ${usuarios}">
			<td th:text="${usuario.nombre}"></td>
			<td th:text="${usuario.apellido}"></td>
			<td th:text="${usuario.email}"></td>
		</tr>
	</tbody>
</table>

<img th:src="@{/images/programador.jpg}"></img>
</body>
</html>